<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>글목록</title>
	
	<!-- w3 css 프레임워크를 사용합니다. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<!-- w3-container는 좌우에 16px가 들어갑니다. -->
	<div class="w3-container">
			<h2>User List</h2>
			<p>사용자 정보를 보여줍니다.</p>
		
		<table class="w3-table w3-striped">
			<!-- tr태그: table row, 테이블의 행입니다. -->
			<tr>
			
				<!-- th 태그: table head, 테이블 열의 제목입니다. -->
				<!-- 사용자 고유번호 -->
				<th>id</th>
				<!-- 사용자 이메일 -->
				<th>email</th>
				<!-- 사용자 별명 -->
				<th>name</th>
				<!-- 사용자 비밀번호 -->
				<th>password</th>
				<!-- 등록일시 -->
				<th>regdate</th>
			</tr>
			
			<!-- 사용자 정보를 나타내는 열입니다. -->
			<tr>
				<th>0</th>
				<th>mooneegee@gmail.com</th>
				<th>뭉글</th>
				<th>m122727</th>
				<th>2018.1.1</th>
			</tr>
			
			<!-- 사용자 정보를 나타내는 열입니다. -->
			<tr>
				<th>0</th>
				<th>mooneegee@gmail.com</th>
				<th>뭉글</th>
				<th>m122727</th>
				<th>2018.1.1</th>
			</tr>
			
			<!-- 사용자 정보를 나타내는 열입니다. -->
			<tr>
				<th>0</th>
				<th>mooneegee@gmail.com</th>
				<th>뭉글</th>
				<th>m122727</th>
				<th>2018.1.1</th>
			</tr>
		</table>
	</div>
	
	
	<!-- 사용자 정보 테이블
	w3-controller는 좌우 16px padding을 만듭니다.
	HTML element에 사용할 수 있습니다. -->
	<div class="w3-container">
		
	</div>
</body>
</html>